GPATH
GRTAGS
GTAGS
*~
*build/
config.h

*#*

*.dir/
test/Win32/

bin/

_*_
sun.tar*
fs_pkg.sh
fs_proj.xml

docs/html

cmake_utility/
cmake_utility.tar.xz
build.sh
README.html
.vscode/
sun/
fs_pkg.py
build.py
